@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {
  --gray-1: #5e5c5c;
  --gray-2: #9c9797;
  --gray-3: #c4c4c4;
  --gray-4: #BEBDAF;
  --gray-5: #424347;
  --gray-6: #77788056;
  --gray-7: #222122;
  --red-1: #ef3724;
  --red-2: #543736;
  --deep-blue: #171925;
  --blue-1: #9FA2AB;

  /* font-families */
  --quicksand: 'Quicksand', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--quicksand);
}

.hero-bg {
  background-image: url('/images/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

html {
  scroll-behavior: smooth;
}